@media only screen and (max-width:640px){
	.sticker{
		width:auto;
		max-width:100%;
	}
	.mobile_hidden{
		display: none;
	}
	.profile_table{
		width:100%;
	}
	.profile_info{
		width:100%;
	}
	.contact_google{
		width:100%;
		float:center;
		padding-left: 5%;
	}
	.contact_information{
		color:black;
		width:100%;
		float:center;
	}
	.video-container {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;
	}

	.video-container iframe,
	.video-container object,
	.video-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}